/*Page-All HTML Elements Styling*/
body{
    font-family: 'Big Shoulders Text', cursive,'Open Sans', sans-serif, 'Roboto';
    background-color: #eceff1;
 
}

/*Nav Bar - Logo*/
.nav-wrapper{
    background-color: #ffffff ;
    padding-bottom: 210px;
  
}
#logo{
    height: 200px;
}


/*Big row image - search bar - search button - h1*/

.containersearch{
    margin-top: 80px;
}

#title {
    text-align: center;
    color: #eceff1;
    padding: 40px;
}

/*Background Image*/

#imagebackground{
    height: 300px; 
    width: 100%;

}

/*container for the search button and the field*/
#inputbutton{
    margin-left: 500px;
    
 }
 /*search field*/
 #search-bar{
    text-align: center;
    margin: 0px; 
    padding: 8px; 
    width: 100%; 
    outline: none; 
    height: 30px; 
    border-radius: 40px;
    border-color: #4a148c;
    width:300px;
    background: #eceff1;
 }
 
 /*search button*/
 #search-button{
     color: #4a148c;
     font-weight: bold;
     padding-left: 15px;
     text-align: center;
 }



/*search resuls elemenets - artist -album-name*/

#results-container{
    display: inline-block;
    border-radius: 20px;
    border-color: #4a148c;
    color: #4a148c;
    font-weight: bold;
    border: 10px solid #4a148c;
    background-color: #eceff1;
    width: 100%;
    height: 100%;
    

}

/*boxes*/
.result-display{
    border: 3px ridge #4a148c;
    background-color: #eceff1; 
    border-radius: 3em;
    display: inline-block;
    width: 30%;
    height: 100%;
    padding: 15px;
    margin: 5px;
    
}

.result-display:hover{
    background-color: #4a148c;
    color: white;

}

/*album*/
 .cover{
    width: 70px;
    text-align: center;
    
    
} 

.center{
    content: center;
}


.inside-name1{
    text-align: center;
    font-size: 15px;
    display: flex;
    align-content: center;
    
}

.addplaylist{
    text-align: center;
    text-decoration: underline;
}

/* hides buttons when no results */
.hide{
    display: none;
}


/*Playlist elements*/

.playlist-item {

    color: #eceff1;
}

/*text*/
#list{
    font-size: 20px;
    color: #4a148c;
    font-weight: bold;
    margin-left: 10px;
}




/*video*/

#play, #pause {
    color: #eceff1;
    font-size: 20px;
    border-radius: 15px 50px 30px 5px;
    

}

/*footer*/

#footer {
    padding-top: 50px;
    color: #4a148c;
    background-color: #eceff1;
}

#footer-text{
    color: #4a148c;
    background-color: #eceff1;
    text-align: center;

}

#footercopyrigth{
    color: #4a148c;
    background-color: #eceff1;
    text-align: center;
}
 

/* Media Screens*/

@media only screen and (max-width: 1024px){
#inputbutton{
    margin-left: 20em;

}

}

 @media only screen and (max-width: 937px){

    #inputbutton{
        margin-left: 200px;
     }
 }


 @media only screen and (max-width: 768px){
     #imagebackground{
      margin-left: 0px;
     }
     #inputbutton{
        margin-left: 180px;
     }
     .playlist{
        width: 40%;
    }
    
    .result-display{
        width: 20em;
    }

   
    iframe {
        width: 100% !important
    }

 }

 
@media only screen and (max-width: 540px){

    #title {
        font-size: 30px;
        margin-left: 30px;
    }

    #search-button{
        margin-left: 20px;  
        
     }
    
    #imagebackground{
      
        height: 200px;
        width: 100%;
      
        }

    #search-bar{
            width: 180px;
            margin-left: -60px;  
        }

    .containersearch{
            margin-top: 90px;
    }
            
    #logo{
            margin-left: 10px;
        }

    .collection-result{
            margin-left: 15px;
        }

        
.result-display{
    width: 80%;
}

        .playlist{
            width: 100%;
            order: 2;
        }
 
        
        @media only screen and (max-width: 480px){

            #imagebackground{
            margin-left: 0px;
            height: 200px;
          
            }
            #search-button{
               margin-left: 30px;
               
            }
            #search-bar{
                width: 200px;
        
            }
            #title {
                font-size: 25px;
              
            }
            .containersearch{
                margin-top: 100px;
            }
            .playlist{
                width: 100%;
            }
            iframe {
                width: 100% !important
            }

        }

        @media only screen and (max-width: 414px) {

          
            #logo{
                margin-left: 5px;
            }
        }

            #inputbutton{
                margin-left: 90px;
              
             }
             #search-button{
                margin-left: 10px;
            }

        }

        @media only screen and (max-width: 411px) {

            #inputbutton{
                margin-left: 90px;
              
             }
             #search-button{
                margin-left: 10px;
            }
     

        }

        @media only screen and (max-width: 375px){
            
            .containersearch{
                margin-top: 70px ;
            }
           

            #inputbutton{
                margin-left: 90px;
              
             }
             #search-bar{
                 width: 180px;
                 
             }

             #logo{
                margin-left: 5px;
            }
        }

        @media only screen and (max-width: 375px){
        
        
        #title {
            font-size: 22px;
            margin-left: 10px;
          
        }

        #inputbutton{
            margin-left: 65px;
          
         }

         #search-bar{
            width: 160px;
            
        }

        #search-button{
            margin-left: 10px;
        }
    }
        
}